body{
	font-family: Roboto !important;
	
}
.header{
  width: 100%;
  height: 280px;

  background-image: linear-gradient(261deg, #4245cd, #1f219e);
}

.remove-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}
.profile_bg {
    width: 375px;
    height: 620px;
    background-color: #f9f9f9;
}
.details_bg {
    height: 620px;
	bottom: 40px;
}
.profile_image {
    position: absolute;
	top: -90px;
    left: 100px;
    z-index: 10;
    border-radius: 500px;
    background-image: linear-gradient(to bottom, #857dd1, #2e3167);
    padding: 2px;
	cursor: pointer;
}
.personal_details {
    padding-top: 105px;
}
.Name {
    font-size: 30px;
    font-weight: bold;
    color: #374355;
}
.Title {
    font-size: 18px;
    color: #54657e;
}
.Location {
    font-size: 18px;
    color: #54657e;
}
.fa-map-marker:hover {
    text-decoration: none;
    color: #db3236;
}
.ContactButton {
    width: 148px;
    height: 43px;
    border-radius: 100px;
    background-color: #0088ff;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0px;
    opacity: 1;
}
.ContactButton p {
    margin-bottom: 0px;
}
.ContactButton:hover {
    opacity: 0.75;
    transition: all 0.3s ease 0s;
}
.Line {
    width: 90%;
    border: solid 1px #cad3df;
}
.fa-linkedin {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #007bb5;
    border: solid 1px #0077b5;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
	margin-right: 10px
}
.fa-linkedin:hover {
    color: #f9f9f9;
    background-color: #007bb5;
    text-decoration: none;
}
.fa-github {
    color: #171515;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #171515;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px

}
.fa-github:hover {
    color: #f9f9f9;
    background-color: #171515;
    text-decoration: none;
}
.fa-twitter {
    color: #4099FF;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #4099FF;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
	margin-right: 10px

}
.fa-twitter:hover {
    color: #f9f9f9;
    background-color: #4099FF;
    text-decoration: none;
}
.fa-envelope {
    color: #db3236;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #db3236;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
	margin-right: 10px

}
.fa-envelope:hover {
    color: #f9f9f9;
    background-color: #db3236;
    text-decoration: none;
}
.fa-sticky-note {
    color: #fdbd39;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #fdbd39;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;

}
.fa-sticky-note:hover {
    color: #f9f9f9;
    background-color: #fdbd39;
    text-decoration: none;
}
.modal-dialog {
    width: 510px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.tab-design {
  float: right;
  height: 16px;
  font-size: 14px;
  text-align: left;
  height: 60px;
  
}

.tab-content{
	padding-top: 60px;
	background-color: transparent;
}

.tab-content h3{
  width: 100px;
  height: 28px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: left;
  color: #374355;
}

.tab-design a{
	background-color: transparent;
	color: white;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
	border: none;
}

.nav-tabs > li > a {
    background-color: transparent;
	border: none;
}

.nav-tabs  {
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: white;
	background-color: transparent;
	border: none;
    padding-bottom: 6px;
	border-bottom: 4px solid #0088ff;

}

.skill_table{
	width: 100%;
}

.tab-content p{
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.2px;
  text-align: left;
  color: #374355;
}

.tab-content h3{
  font-family: Roboto;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.2px;
  text-align: left;
  color: #374355;
}



.accordion h3{
 width: 100%;
 height: 50px;
}


#accordion .ui-accordion-header {
  background-color: #ffffff;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #0088ff;
}

#accordion .ui-accordion-content {
  border: none;
  width: 100%;
  line-height: 16pt;
}

#accordion .ui-icon { display: none; }

#result_accordion .ui-icon { display: none; }

#result_accordion .ui-accordion-header {
  background-color: #ffffff;
  border: none;
  height: 40px;
  width: 100%;
  font-size: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  color: #0088ff;
}

#result_accordion .ui-accordion-content {
  border: none;
  width: 100%;
  height: 100%;
  line-height: 16pt;
}

#result_accordion .ui-icon { display: none; }

.ui-accordion-header.ui-state-default:before { 
	content: "\f068";
	font-family: FontAwesome;

}

.ui-accordion-header.ui-state-active:before { 
	content: "\f067";
	font-family: FontAwesome;
}

.job-role{
 width: 100%;
  height: 21px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #374355;
}
