
.image_header {
  width: 100%;
  height: 280px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(31, 33, 158, 0.75);
}

.profile_bg {
  width: 375px;
  height: 620px;
  background-color: #f9f9f9;
}

.details_bg{
	width: 750px;
  height: 620px;
  border: black 1px solid;

}

.profile_image {
	position: absolute;
	top: 196px;
	left: 100px;
	z-index: 10;
    border-radius: 500px;
	background-image: linear-gradient(to bottom, #857dd1, #2e3167);
    padding: 2px;
}

.personal_details{
	padding-top: 105px;
}
.Name {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #374355;
}

.Title {
  font-family: Roboto;
  font-size: 18px;
  color: #54657e;
}

.Location {
  font-family: Roboto;
  font-size: 18px;
  color: #54657e;
}

.ContactButton {
  width: 148px;
  height: 43px;
  border-radius: 100px;
  background-color: #0088ff;
}

.ContactText {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}