html, body {
    font-family: Roboto !important;
	width: 100%;
    -webkit-text-size-adjust: none;
}

.header {
    width: 100%;
    height: 280px;
    background-image: linear-gradient(261deg, #4245cd, #1f219e);
}

.remove-padding {
 margin: 0 !important;
    padding: 0 !important;
}
.profile_bg {
    width: 375px;
    height: 620px;
    background-color: #f9f9f9;
}
.details_bg {
    height: 620px;
    bottom: 40px;
}

.main_content{
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.profile_image {
    position: absolute;
    top: -90px;
    left: 100px;
    z-index: 10;
    border-radius: 500px;
    background-image: linear-gradient(to bottom, #857dd1, #2e3167);
    padding: 2px;
    cursor: pointer;
}

.profile_image img{
    height:165px;
}
.personal_details {
    padding-top: 105px;
}
.Name {
    font-size: 30px;
    font-weight: bold;
    color: #374355;
}
.Title {
    font-size: 18px;
    color: #54657e;
}
.Location {
    font-size: 18px;
    color: #54657e;
}
.fa-map-marker:hover,
.fa-map-marker:active,
.fa-map-marker:focus {
    text-decoration: none;
    color: #db3236;
}
.ContactButton {
    width: 148px;
    height: 43px;
    border-radius: 100px;
    background-color: #0088ff;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0px;
    opacity: 1;
}
.ContactButton p {
    margin-bottom: 0px;
}
.ContactButton:hover {
    opacity: 0.75;
    transition: all 0.3s ease 0s;
}
.Line {
    width: 100%;
    border: solid 1px #cad3df;
}
.detail-line {
    width: 90%;
    border: solid 1px #cad3df;
}
.fa-linkedin {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #007bb5;
    border: solid 1px #0077b5;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px
}
.fa-linkedin:hover,
.fa-linkedin:active,
.fa-linkedin:focus {
    color: #f9f9f9;
    background-color: #007bb5;
    text-decoration: none;
}
.fa-github {
    color: #171515;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #171515;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px
}
.fa-github:hover,
.fa-github:active,
.fa-github:focus {
    color: #f9f9f9;
    background-color: #171515;
    text-decoration: none;
}
.fa-twitter {
    color: #4099FF;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #4099FF;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px
}
.fa-twitter:hover,
.fa-twitter:active,
.fa-twitter:focus {
    color: #f9f9f9;
    background-color: #4099FF;
    text-decoration: none;
}
.fa-envelope {
    color: #db3236;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #db3236;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
    margin-right: 10px
}
.fa-envelope:hover,
.fa-envelope:active,
.fa-envelope:focus {
    color: #f9f9f9;
    background-color: #db3236;
    text-decoration: none;
}
.fa-sticky-note {
    color: #fdbd39;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #fdbd39;
    border-radius: 30px;
    padding: 7px 5px 5px 5px;
    transition: all 0.5s ease 0s;
}
.fa-sticky-note:hover,
.fa-sticky-note:active,
.fa-sticky-note:focus {
    color: #f9f9f9;
    background-color: #fdbd39;
    text-decoration: none;
}
.modal-dialog {
    width: 510px;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.tab-design {
    float: right;
    height: 16px;
    font-size: 14px;
    text-align: left;
    height: 60px;
}
.tab-content {
    padding-top: 60px;
    background-color: transparent;

}

#summary p {
	text-align: justify;

}
.tab-content h3 {
    width: 100px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #374355;
    line-height: 1.29;
    letter-spacing: 0.2px;

}
.tab-design a {
    background-color: transparent;
    color: white;
}
.nav-tabs > li > a:hover {
    background-color: transparent;
    border: none;
}
.nav-tabs > li > a {
    background-color: transparent;
    border: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    background-color: transparent;
    border: none;
    padding-bottom: 6px;
    border-bottom: 4px solid #0088ff;
}
.skill_table {
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
}
.skill_table span {
    color: #0088ff;
    float: right;
    padding-right: 10px;
}
.tab-content p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.2px;
    text-align: left;
    color: #374355;
}

.accordion h3 {
    width: 100%;
    height: 50px;
}
#accordion .ui-accordion-header {
    background-color: #ffffff;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #0088ff;
}
#accordion .ui-accordion-content {
    border: none;
    width: 100%;
    line-height: 16pt;
    padding-top: 0px;
    padding-bottom: 0px;
}
#accordion .ui-icon {
    display: none;
}
#result_accordion .ui-icon {
    display: none;
}
#result_accordion .ui-accordion-header {
    background-color: #ffffff;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #0088ff;
}
#result_accordion .ui-accordion-content {
    border: none;
    width: 100%;
    height: 100%;
    line-height: 16pt;
}
#result_accordion .ui-icon {
    display: none;
}
.ui-accordion-header.ui-state-default:before {
    content: "\f067";
    font-family: FontAwesome;
    border: none;
}
.ui-accordion-header.ui-state-active:before {
    content: "\f068";
    font-family: FontAwesome;
    border: none;
}
.ui-accordion-header {
    outline: none;
}
.accordion-sub {
    width: 100%;
    height: 21px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #374355;
}

.fa-times{
	color: #db3236;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
}

.fa-times:hover{
	    text-decoration: none;

}
@media(max-width:767px) {
	body{
		min-width: 370px;
	}
	
    .header {
        height: 0px;
    }

    .profile_bg {
	width: 100%;
    height: 220px;
    background-image: linear-gradient(261deg, #4245cd, #1f219e);
    }

.profile_image img{
    height:100px;
}
.profile_image {
	left : 43px;
	margin-top: 130px;
    z-index: 10;
    border-radius: 500px;
    background-image: linear-gradient(to bottom, #857dd1, #2e3167);
    padding: 2px;
    cursor: pointer;
}




.Name, .Title, .Location{
	color: #ffffff;
}

.personal_details{
	width: 60%;
	float: right;
	padding-top: 35px;
}

.Name {
  font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
.Title {
	  font-size: 14px;
  font-weight: 300;

      font-family: Roboto;
      color: #ffffff;
	  margin-bottom: 0px;

}
.Location{
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;

}
.fa-map-marker{
	  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
.fa-map-marker:hover,
.fa-map-marker:active,
.fa-map-marker:focus {
    text-decoration: none;
    color: #db3236;
}

.detail-line {
    border: solid 0px #cad3df;
}
.ContactButton {
    width: 130px;
    height: 32px;
    border-radius: 100px;
    background-color: #0088ff;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-size: 18px;
	  font-weight: 300;

    color: #ffffff;
    margin-bottom: 0px;
    opacity: 1;
}
.ContactButton p {
    margin-bottom: 0px;
}

.social_media_icons{
	    margin: auto;
    position:relative;
	padding-left: 5px;
}

.fa-linkedin, .fa-github, .fa-twitter, .fa-envelope, .fa-sticky-note {
    width: 25px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 30px;
    padding: 4px 4px 4px 4px;
    transition: all 0.5s ease 0s;
    margin-right: 10px
}
.fa-linkedin:hover,
.fa-linkedin:active,
.fa-linkedin:focus {
    color: #f9f9f9;
    background-color: #007bb5;
    text-decoration: none;
}

.fa-github:hover,
.fa-github:active,
.fa-github:focus {
    color: #f9f9f9;
    background-color: #171515;
    text-decoration: none;
}

.fa-twitter:hover,
.fa-twitter:active,
.fa-twitter:focus {
    color: #f9f9f9;
    background-color: #4099FF;
    text-decoration: none;
}

.fa-envelope:hover,
.fa-envelope:active,
.fa-envelope:focus {
    color: #f9f9f9;
    background-color: #db3236;
    text-decoration: none;
}

.fa-sticky-note:hover,
.fa-sticky-note:active,
.fa-sticky-note:focus {
    color: #f9f9f9;
    background-color: #fdbd39;
    text-decoration: none;
}

.details_bg{
	top: 0px;
}

.modal-dialog {
  width: 90%;
  height: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  height: 100%;
}

.remove_mobile_padding{
    padding-right: 0px;
    padding-left: 0px;
}

.tab-design{
	width: 100%;
	min-width: 370px;
	background-color: #f9f9f9;
	font-size: 14px;
	color: #374355;
	height: 50px;
	border-bottom: #cad3df 1px solid;
	padding-top: 10px;
}
.tab-design a {
    background-color: transparent;
    color: #374355;
	padding-right: 10px !important;
	padding-left: 10px !important;
	margin-right: 00px !important;
	margin-left: 0px !important;
}

.tab-content{
	width: 100%;
	padding: 50px 15px 0px 15px;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover
{
    color: #374355;
	font-weight: bold;
    background-color: transparent;
    padding-bottom: 6px;
    border-bottom: 3px solid #0088ff;
	padding-right: 10px !important;
	padding-left: 10px !important;
	margin-right: 00px !important;
	margin-left: 0px !important;

}
.skill_table{
	border: none;
}
td{
	display:block;
	width:100% !important;

}


}